extends layout

block content
  div(class="home")
    h1(id="title")= title
    
    div(style="margin: 10px")
    a(href="/initiative" id="link") Initiative Tool
    a(href="/perception" id="link") Perception Checks
