extends layout

block content
  h1(id="title")= title
  
  div(style="margin: 10px")
    a(href="/characterSheet" id="link") Add Character
    a(href="/initiative" id="link") Initiative Tool
    a(href="/perception" id="link") Perception Checks
