doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(href="https://fonts.googleapis.com/css?family=Spectral+SC&display=swap" rel="stylesheet")
  body
    block content
  footer
    block footer
