extends layout

block content
  div(class="page")
    div(class="popup")
      a(href="./" id="home-button")= "Home"
      h1 Perception Check
      
      div(style="margin: 20px")
        button(type="button" onclick="addCharacter()" name="button") Add Character
        button(type="button" onclick="rollPerception()" name="button") Roll!
        button(type="button" onclick="orderTable('perception','ordered-perception')" name="button") Perception Check
        
        div
          input(type="text" name="check-DC" id="check-DC" placeholder= "Check DC" style="width: 90px; height: 30px; margin-left: 20px; margin-top: 20px; font-size: 14px; text-align: center")
      
      div(class="table-wrapper")
        table(id="perception")
          thead
            th Character Name
            th Wisdom Mod
            th Perception Roll
          tr
            td
              input(type="text" name="character-name" id="character-name")
            td
              input(type="text" name="perception-mod" id="perception-mod")
            td
          
      div(class="table-wrapper")
        table(id="ordered-perception")
          thead
            th Character Name
            th Perception
  
block footer
  script(src="/javascripts/perception.js")
  script(src="/javascripts/orderTable.js")
